@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h1>Hola</h1>
    </div>
</div>

<script>
    fetch('/api/values', { method: 'GET' })
        .then(function (response) {
            console.log(response.json());
        });
</script>